# SpeechRecognition
# soundfile
# playsound
# pyaudio
# pyttsx4
# openai-whisper
# gradio
# streamlit

jupyterlab

# huggingface.co
transformers

# modelscope.cn
modelscope

# chatglm3-6b
cpm_kernels
sentencepiece