# UI
streamlit

# Google Sheet
st-gsheets-connection

# # huggingface.co
# transformers

# # chatglm3-6b
# cpm_kernels
# sentencepiece

# # asr
# SpeechRecognition
# openai-whisper

# # tts
# edge_tts
# playsound

# # tongyi
# dashscope