# UI
streamlit

# huggingface.co
transformers

# modelscope.cn
modelscope

# chatglm3-6b
cpm_kernels
sentencepiece

# asr
SpeechRecognition
openai-whisper

# tts
edge_tts
playsound

# Patient Info
faker